# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [8]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [9]:
employees_advanced = pd.read_csv(r'Datasets/Current_Employee_Names__Salaries__and_Position_Titles.csv')
employees_advanced.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

In [11]:
# Your code here:
employees_advanced.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
# Your code here:
employees_advanced.isnull().count()

Name                 33183
Job Titles           33183
Department           33183
Full or Part-Time    33183
Salary or Hourly     33183
Typical Hours        33183
Annual Salary        33183
Hourly Rate          33183
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:

employees_advanced['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [14]:
# Your code here:

employees_advanced['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [26]:
# Your code here:
from scipy import stats
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import sem, t
from scipy import mean

In [27]:
hourly = employees_advanced['Salary or Hourly'].dropna().reset_index(drop = True).value_counts()[1]
hourly

8022

In [28]:
hourlydf = employees_advanced[employees_advanced['Salary or Hourly'] == 'Hourly']
hourlydf.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [29]:
hourly_rate = hourlydf['Hourly Rate']
data = list(hourly_rate)

In [31]:
n = len(data)
m = np.mean(data)
std_err = sem(data)
c = 0.95

h = std_err * t.ppf((1 + c) / 2, n - 1)

In [33]:
start = m - h
print(start)

32.52345834488425

In [35]:
end = m + h
print(end)

33.05365708767623

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [37]:
# Your code here:
employees_advanced.head()
police = employees_advanced[employees_advanced['Department'] == 'POLICE']
police.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN

In [55]:
salary = police['Annual Salary'].dropna().reset_index(drop = True)
data = list(salary)

In [56]:
'''from scipy.stats import ttest_1samp

ttest_1samp(data, 86000)'''

'from scipy.stats import ttest_1samp\n\nttest_1samp(data, 86000)'

In [57]:
n = len(data)
m = np.mean(data)
std_err = sem(data)
c = 0.95

h = std_err * t.ppf((1 + c) / 2, n - 1)

In [58]:
sum(data)

1159263900.0

In [59]:
start = m - h
print(start)

86177.05631531784

In [60]:
end = m + h
print(end)

86795.77269094894

In [63]:
police_annual = employees_advanced[employees_advanced['Department'] == 'POLICE']['Annual Salary'].dropna()

In [75]:
police_mean = police_annual.dropna().mean()
claimed_mean = 86000

In [76]:
t, prob = stats.ttest_1samp(police_annual, claimed_mean)
prob = prob / 2
print('T - Test = ', t)
print('Probability/2 = ', prob)

T - Test =  3.081997005712994
Probability/2 =  0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [61]:
# Your code here:

hourlydf['Department'].value_counts()

STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
PROCUREMENT                 2
FIRE                        2
BUDGET & MGMT               2
Name: Department, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [66]:
# Your code here:
streets = employees_advanced[employees_advanced['Department'] == 'STREETS & SAN']['Hourly Rate'].dropna()
streets.head()

7     35.60
21    21.43
24    35.60
36    36.21
39    35.60
Name: Hourly Rate, dtype: float64

In [69]:
streets_mean = streets.mean()
claimed_mean = 35

In [70]:
print(streets_mean)

33.72837808807734

In [71]:
t, prob = stats.ttest_1samp(streets, claimed_mean)
prob = prob / 2
print('T - Test = ', t)
print('Probability/2 = ', prob)

T - Test =  -9.567447887848152
Probability/2 =  1.6689265282353859e-21

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:
from scipy import stats
from scipy.stats import norm
from scipy.stats import t

In [72]:

hourly_mean = hourlydf['Hourly Rate'].dropna().mean()
standard_error = stats.sem(hourlydf['Hourly Rate'])
n = len(hourlydf['Hourly Rate'] - 1)

stats.t.interval(0.95, n, hourly_mean, standard_error)

(32.52345834987168, 33.053657082688794)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [80]:
# Your code here:
police_mean = police_annual.dropna().mean()
st_err = stats.sem(police_annual)
n = len(police_annual)

stats.t.interval(0.95, n, police_mean, st_err)

(86177.05631740222, 86795.77268886456)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: